* {
	font-family: "Roboto";
}

body {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	padding: 0px 240px;
}

.header__navi {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
}

.header__navi--logo {
	color: #f9faf8;
	font-size: 24px;
	font-weight: bold;
}

.header__navi--links {
	display: flex;
	gap: 16px;
	color: #e5e7eb;
	font-size: 18px;
}

.header__content {
	display: flex;
	padding: 100px 0px;
	justify-content: space-between;
}

.header__content--text {
	display: flex;
	flex-direction: column;
	width: 500px;
}

.header__content--awesomeText {
	color: #f9faf8;
	font-size: 48px;
	font-weight: bolder;
}

.header__content--subtext {
	color: #e5e7eb;
	font-size: 18px;
}

.header__content--image {
	background-color: gray;
	width: 700px;
	height: 200px;
	text-align: center;
	line-height: 200px;
}

.header__content--button--signUp {
	width: 120px;
	height: 30px;
	text-align: center;
	margin: 8px 0px;
	background-color: #3882f6;
	color: #f9faf8;
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
	border: #3882f6;
}

.informations {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
}

.informations__header--text {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

.informations__content {
	display: flex;
	flex-wrap: wrap;
	gap: 75px;
	padding: 40px;
}

.informations__content--image {
	width: 200px;
	text-align: center;
	color: rgb(43, 142, 175);
	font-size: 18px;
}

.informations__content--ilustration {
	width: 200px;
	height: 200px;
	border-radius: 16px;
	border: #3882f6 4px solid;
	margin: 8px;
}

.quote {
	display: flex;
	justify-content: center;
	background-color: #e5e7eb;
	padding: 60px 0px;
}

.quote__textContainer {
	flex-grow: 0;
	width: 800px;
	height: auto;
}

.quote__textContainer--text {
	color: #1f2937;
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
}

.quote__authorContainer {
	display: flex;
	justify-content: end;
}

.quote__authorContainer--author {
	font-size: 24px;
	font-weight: bold;
	margin-right: 80px;
}

.callToAction {
	color: #f9faf8;
	display: flex;
	justify-content: center;
	padding: 60px 0px;
}

.callToAction__container {
	background-color: #3882f6;
	border-radius: 8px;
	width: 800px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 80px;
}

.callToAction__textContainer {
	display: flex;
	flex-direction: column;
}

.callToAction__textContainer--header {
	font-weight: bold;
}

.callToAction__container--button {
	border: white solid 1px;
}

footer {
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	color: #f9faf8;
	padding: 16px;
}
