* {
	font-family: "Roboto";
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.hero {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	padding-left: 120px;
	padding-right: 120px;
}

.hero .awesome {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero .header .links {
	font-size: 18px;
	color: #e5e7eb;
	display: flex;
	justify-content: end;
	gap: 16px;
}

.hero .header .logo {
	font-size: 24px;
	color: #f9faf8;
}

.hero .content {
	display: flex;
	justify-content: space-between;
	padding: 80px 0px;
}

.content .info {
	display: flex;
	flex-direction: column;
}

.hero .image {
	background-color: gray;
	width: 600px;
	height: 250px;
	text-align: center;
	line-height: 250px;
}

button {
	background-color: #3882f6;
}

.quote {
	background-color: #e5e7eb;
	font-size: 36px;
	color: #1f2937;
	font-style: italic;
	padding: 150px 450px;
}

footer {
	background-color: #1f2937;
	text-align: center;
	color: #e5e7eb;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}
