* {
	font-family: "Roboto";
}

body {
	margin: 0;
}

.container {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	padding: 0px 240px;
	color: white;
}

.header__navi {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__navi--logo {
}

.header__navi--links {
}

.header__content {
	display: flex;
	padding: 100px 0px;
	justify-content: space-between;
}

.header__content--text {
	display: flex;
	flex-direction: column;
}

.header__content--awesomeText {
}

.header__content--subtext {
}

.header__content--image {
	background-color: gray;
	width: 700px;
	height: 200px;
	text-align: center;
	line-height: 200px;
}

.header__content--button--signUp {
	width: 90px;
	height: 30px;
	text-align: center;
}
